[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Restart=on-failure
WorkingDirectory=/home/prometheus/prometheus-postgres-adapter
ExecStart=/home/prometheus/prometheus-postgres-adapter/prometheus-postgresql-adapter \
                                -pg-database {{ prometheus_postgresql_database }} \
                                -pg-user {{ prometheus_postgresql_username }}

[Install]
WantedBy=multi-user.target
