[Unit]
Description=Prometheus PostgreSQL Adapter
After=network-online.target

[Service]
User=prometheus
Restart=on-failure
ExecStart=/home/prometheus/pg_adapter/{{ prometheus_postgres_adapter_version }}/prometheus-postgresql-adapter \
                                -pg.database {{ prometheus_postgresql_database }}

[Install]
WantedBy=multi-user.target
